﻿@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>

<section id="pictureAbout">
    <img src="~/images/swanepoel.jpg" width="1000" height="400" alt="" />
</section>
<div class="aboutText">
    <p>Agora você pode comprar itens em todo o mundo e
         Desfrutar de frete grátis (para pedidos acima de US $ 100). Para sua conveniência,
         Enquanto navega no site Castro você será capaz de mudar o país de envio,
         Bem como a moeda na qual os preços são exibidos.
         O serviço marítimo é operado em cooperação com a Global-E.
    </p>
    <p>As opções de envio e os prazos de entrega dependem do destino do envio.
         A maioria dos produtos será enviada em nosso armazém de até 2 dias úteis.
         O tempo de entrega varia de acordo com a opção de envio escolhida. Durante o check-out,
         As opções de envio disponíveis para o destino escolhido serão exibidas
         Juntamente com os prazos de entrega estimados. Por favor, note que, embora façamos
         Todos os esforços para despachar o seu pedido dentro do prazo estimado, datas de remessa
         Podem ser atualizados.
    </p>
</div>