﻿@model IEnumerable<store2.Models.Item>

@{
    ViewData["Title"] = "Página Inicial";
}

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/ASP-NET-Banners-01.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-02-VS.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/ASP-NET-Banners-02.png" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-01-Azure.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>*@
<section class="home">
    <div class="col-md-4">@Html.ActionLink("", "Women", new { Category = "dress" })<img src="~/images/womenSD.jpg" /></div>
    <div class="col-md-4">@Html.ActionLink("", "Women", new { Category = "jeans" })<img src="~/images/womenSJ.jpg" /></div>
    <div class="col-md-4">@Html.ActionLink("", "Women", new { Category = "top" })<img src="~/images/womenST.jpg" /></div>
    <div class="clear"></div>
</section>
<section class="home">
    <div class="col-md-4">@Html.ActionLink("", "Men", new { Category = "shirt" })<img src="~/images/manSS.jpg" /></div>
    <div class="col-md-4">@Html.ActionLink("", "Men", new { Category = "jeans" })<img src="~/images/manSJ.jpg" /></div>
    <div class="col-md-4">@Html.ActionLink("", "Men", new { Category = "T-shirt" })<img src="~/images/manST.jpg" /></div>
    <div class="clear"></div>
</section>
<section class="home">
    
    <div class="col-md-6">
        <video width="500" controls>
            <source src="~/video.mp4" type="video/mp4">
            Seu navegador não suporta HTML5 vídeo de você.
        </video>
    </div>
    <aside class="col-md-3 sideText">
        <p>
           Hoje à noite celebramos 40 anos no Museu do Design.
             Nós sabemos que você não pode todos fazê-lo, então siga-nos em nossos feeds de mídia social,
             Seremos tweeting ao vivo e após o evento. Então sintonizar esta tarde e à noite,
             Estamos entusiasmados em compartilhar 4 décadas de inovação com todos vocês.
             Hoje à noite celebramos 40 anos no Museu do Design.
             Nós sabemos que você não pode todos fazê-lo, então siga-nos em nossos feeds de mídia social,
             Seremos tweeting ao vivo e após o evento. Então sintonizar esta tarde e à noite,
             Estamos entusiasmados em compartilhar 4 décadas de inovação com todos vocês.
             Hoje à noite celebramos 40 anos no Museu do Design.
             Nós sabemos que você não pode todos fazê-lo, então siga-nos em nossos feeds de mídia social,
             Seremos tweeting ao vivo e após o evento. Então sintonizar esta tarde e à noite,
             Estamos entusiasmados em compartilhar 4 décadas de inovação com todos vocês.
        </p>
    </aside>
    <div class="col-md-3">
        <div class="fb-page" data-href="https://www.facebook.com/LiMa-ZiKo-1204641122879894/?ref=aymt_homepage_panel" data-tabs="timeline" data-width="240" data-height="280" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LiMa-ZiKo-1204641122879894/?ref=aymt_homepage_panel" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LiMa-ZiKo-1204641122879894/?ref=aymt_homepage_panel">LiMa ZiKo</a></blockquote></div>

    </div>    
    <div class="clear"></div>
</section>



<div id="fb-root"></div>
<script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1403919759625198";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
</script>


