﻿<!DOCTYPE html>
<html>
    <head>
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="~/js/d3pie.min.js" charset="utf-8"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - store2</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
        @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">LiMa ZiKo</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li><a asp-controller="Home" asp-action="Index">Home</a></li>*@
                        <li><a asp-controller="Items" asp-action="Men">Homens</a></li>
                        <li><a asp-controller="Items" asp-action="Women">Mulheres</a></li>
                        <li><a asp-controller="Items" asp-action="Children">Criancas</a></li>
                        <li><a asp-controller="Home" asp-action="About">Sobre</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contato</a></li>
                        <li><a asp-controller="Branches" asp-action="Index">Filiais</a></li>
                       
                        @if (User.IsInRole("admin"))
                        {
                            <li><a asp-controller="Suppliers" asp-action="Index">Fornecedores</a></li>
                        }
                        <li><a asp-controller="Home" asp-action="Static">Estatística</a></li>
                        
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            <content>
                @RenderBody()
                <hr />
            </content>
            
            <footer>
                <p>&copy; 2016 - store2</p>
                <div class="logos">
                    <a href="https://www.facebook.com/LiMa-ZiKo-1204641122879894/" target="_blank"><img src="~/images/facebook-logo.png" width="25" height="25" alt="Facebook" /></a>
                    <a href="https://www.youtube.com/" target="_blank"><img src="~/images/youtube-logo.png" width="25" height="25" alt="Facebook" /></a>
                    <a href="https://twitter.com/assos_com" target="_blank"><img src="~/images/twitter.png" width="25" height="25" alt="Facebook" /></a>
                </div>
                <div class="clear"></div>
            </footer>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
